/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

/* Hide scrollbar for webkit and gecko based browsers */
::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

::selection {
  background-color: #007bff; /* This is the primary color */
  color: #ffffff; /* This is the text color */
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}
.gabo-bg-secondary {
  background-color: #11531e;
  color: #f5f5f5;
}

.gabo-bg-primary {
  background-color: #dc5510;
  color: #f5f5f5;
}
.gabo-primary {
  color: #dc5510;
}
.gabo-secondary {
  color: #11531e;
}
.gabo-dark {
  color: #292929;
}
.gabo-light {
  color: #f5f5f5;
}
.signup-form {
  background-color: #f5f5f5;
}

body {
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

/* Garbage Bin Icon */

.garbage-bin {
  width: 100px;
  height: 150px;
  position: relative;
  margin-bottom: 10px;
}

.lid {
  width: 80px;
  height: 20px;
  background-color: #4caf50;
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: 0;
  left: 10px;
}

.body {
  width: 100px;
  height: 130px;
  background-color: #4caf50;
  border-radius: 10px;
  position: absolute;
  top: 20px;
  left: 0;
}

.trash-can {
  width: 20px;
  height: 30px;
  background-color: #333;
  position: absolute;
  top: 95px;
  left: 40px;
  border-radius: 2px;
}

.fill-level1 {
  width: 100%;
  background-color: #4caf50;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: height 0.5s ease;
}

.fill-level2 {
  width: 100%;
  background-color: #ffc107;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: height 0.5s ease;
}

.fill-level3 {
  width: 100%;
  background-color: red;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: height 0.5s ease;
}

/* Add Device Button Placement */

.fixed-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.hidden {
  display: none;
}

.container-eye {
  margin-right: 0;
}

.header-divider {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
.navBg {
  background-color: #f5f5f5;
}
.custom-toggler .navbar-toggler-icon {
  background-color: #343a40;
}

.btn_sign-in {
  border: none;
  background-color: #11531e;
  color: white;
  padding: 10px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}
.btn_sign-up {
  border: none;
  background-color: #11531e;
  color: white;
  padding: 10px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}
.btn_sign-in:hover {
  border: none;
  background-color: #91cd9c;
  color: white;
  padding: 10px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}

.btn_sign-up:hover {
  border: none;
  background-color: #91cd9c;
  color: white;
  padding: 10px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}
.custom-collapse {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in;
  transform: translateX(100%);
  overflow-y: auto;
}

.custom-collapse.show {
  transform: translateX(0);
}

.burger_menu {
  border: 2px solid #11531e;
  color: #11531e;
  border-radius: 100px;
}

.circle {
  width: 100%; /* Set the width to 100% to cover the entire viewport width */
  height: 150%; /* Set the height to twice the viewport height for a perfect circle effect */
  background-color: rgb(240, 240, 240); /* Color of the circle */
  border-radius: 10%; /* Make it a circle */
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  z-index: -1; /* Place the circle behind the content */
}

/* 
.feature-section {
  height: 100%;
  width: 100%;
  background-color: #11531e;
}
FEATURE SECTION */

.content {
  z-index: 1;
  position: relative;
  padding: 20px;
}

.scroll-down-arrow {
  display: block;
  position: absolute;
  bottom: 25%;
  left: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 24px;
  color: #000;
  animation: arrowBounce 2s infinite;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  opacity: 1;
}

@keyframes arrowBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
}

/* CSS for the animated underline effect */
.nav-link {
  color: #333;
  font-weight: 500;
  text-decoration: none;
  padding: 8px 20px;
  margin: 0 10px;
  position: relative;
  transition: all 0.3s ease;
}

.nav-link.active::after {
  content: "";
  border-bottom: 2px solid #11531e; /* Underline color */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000; /* Change this color to the desired underline color */
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .signup-margin {
    margin-top: 50px; /* Adjusted margin for smaller screens */
  }
  .home-img {
    display: none;
  }
  .card-size {
    width: 12rem;
    height: 2rem;
  }

  #sidebar {
    width: 50%;
    right: -100%; /* Initially hide the sidebar for small screens */
  }

  #sidebar.active {
    right: 0;
  }
}

@media (max-width: 576px) {
  .signup-margin {
    margin-top: 50px; /* Further adjusted margin for even smaller screens */
  }
  .garbage-bin {
    width: 90px; /* Adjust the width as needed */
    height: 130px; /* Adjust the height as needed */
    margin-bottom: 5px; /* Adjust the margin as needed */
  }

  .lid {
    width: 70px; /* Adjust the width as needed */
    height: 15px; /* Adjust the height as needed */
    top: 0;
    left: 10px;
  }

  .body {
    width: 90px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    top: 15px;
  }

  .trash-can {
    width: 15px; /* Adjust the width as needed */
    height: 25px; /* Adjust the height as needed */
    top: 60px;
    left: 20px;
  }

  .fill-level {
    border-radius: 0 0 5px 5px; /* Adjust the border-radius as needed */
  }
  .device-container {
    margin-top: 0px;
  }
}

/* Custom styles */
@media (max-width: 1023px) {
  .center-row {
    justify-content: center;
  }
  .signup-image {
    width: 100%;
  }
  #responsiveImage {
    width: 100%;
  }
  .signup-image {
    display: none;
  }
  #responsiveImage {
    display: none;
  }
  #home-img {
    width: 100%;
  }
  .home-main {
    justify-content: center;
  }
}
/* Index Main Image */
@media (max-width: 991.98px) {
  .home-img {
    display: none;
  }
}
