/* Montserrat Font Face */
@font-face {
  font-family: "ProductSans";
  src: url("fonts/Product Sans/ProductSans-Regular.ttf") format("truetype"); /* Adjust the path to your font file */
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "ProductSans";
  src: url("fonts/Product Sans/ProductSans-Bold.ttf") format("truetype"); /* Adjust the path to your font file */
  font-weight: 700; /* Bold */
  font-style: normal;
}

h1,
h2,
h3 {
  font-family: "ProductSans", sans-serif;
  font-weight: 700; /* Bold */
}

:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #11531e;
  --first-color-light: #fff;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: "Product Sans", sans-serif;
  font-weight: 400; /* Regular */
  position: relative;
  transition: 0.5s;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}

.nav_link:hover,
.nav_link.active {
  color: var(--white-color);
}

.nav_link:hover::before,
.nav_link.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/* Define scrollbar styles */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Track styles */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle styles */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners */
}

/* Padding for the scrollbar */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change color on hover */
}

/* Define scrollbar styles for the card body */
.card-activity {
  height: 250px; /* Set the height of the card body */
  overflow-y: auto; /* Enable vertical scrollbar */
  padding-right: 10px; /* Add padding to the right to accommodate the scrollbar */
}

/* Track styles */
.card-activity::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle styles */
.card-activity::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners */
}

/* Padding for the scrollbar */
.card-activity::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change color on hover */
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: -1;
  transition: 0.5s;
}
.header_toggle {
  color: var(--first-color);
  cursor: pointer;
}
.header_img img {
  width: 40px;
}
.l-navbar {
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100%;
  background-color: var(--first-color);
  padding: 0.5rem 1rem 0 0;
  /* ... your existing styles ... */
  transition: width 0.75s;
  z-index: 1;
}

.l-navbar:hover {
  width: 220px;
  /* Adjust the width as needed */
}

.body-pd .content {
  transition: margin-left 0.75s;
}
/*
@media screen and (max-width: 768px) {
  .l-navbar:hover,
  .l-navbar:hover ~ .content {
    width: var(--nav-width);
    margin-left: 0;
  }
} */

.bg-gradient-1 {
  background: linear-gradient(
    45deg,
    #ff8c00 0%,
    #ff9e2c 20%,
    #ffb745 40%,
    #ffca61 60%,
    #ffde7d 80%,
    #ffe899 100%
  );
  color: #fff;
}

.nav1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav_logo {
  margin-bottom: 2rem;
}
.nav_logo-icon {
  height: 1.25rem;
  width: auto;
  color: var(--white-color);
}
.nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
}
.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: 0.3s;
}
.nav_link:hover {
  color: var(--white-color);
}
.nav_icon {
  font-size: 1.25rem;
}
.show {
  left: 0;
}
.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}
.active1 {
  color: var(--white-color);
}
.active1::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}
.height-100 {
  height: 100vh;
}
@media screen and (min-width: 768px) {
  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }
}

/* Custom styles for navigation pills */
.nav-pills .nav-link {
  /* Add your custom styling here */
  color: #333; /* Text color */
  background-color: #f8f9fa; /* Background color */
  border-color: #dee2e6; /* Border color */
  border-radius: 20px;
  border: 1px solid #11531e;
}
.nav-pills:hover .nav-link:hover {
  color: white;
  background-color: #11531e;
  border-color: #333;
}

.nav-pills .nav-link.active {
  /* Styles for active pill */
  color: #fff; /* Text color */
  background-color: #11531e; /* Background color */
}
